@media screen and (max-width: 766px) {
    body {
        background-color: #000;
        border: 0;
        margin: 0;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }

    header {
        background-color: #ffffff;
        width: 100%;
        height: 70px;
        background-color: 0;
        display: flex;
        position: fixed;
        margin-top: -140px;
    }



    .main-esquerdo {
        width: 50%;
        height: 100%;
        padding-left: 10px;
    }

    #logomarca {
        height: 100%;
    }

    .main-meio {
        display: none;
    }

    .main-direito {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;
    }

    .main-direito img{
        height: 50px;
    }

    #atalho {
      display: none;  
    }

    
    .nav {
        position: relative;
    }

    #menu {
        display: none;
    }

    #menu {
        position: absolute;
        left: -220px;
        /* Inicialmente oculto */
        top: 0;
        background-color: #333;
        width: 210px;
        transition: left 0.3s ease;
        /* Adiciona uma transição suave */
        z-index: 1;
        margin-top: 60px;
        border-radius: 20px;
    }

    #itens {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #itens:hover {
        filter: brightness(70%);
        color: #f4f4f4;
    }

    .nav ul {
        list-style-type: none;
        padding: 0;
    }

    .nav ul li {
        padding: 10px;
    }

    .nav ul li a {
        text-decoration: none;
        color: #ffffff;
    }

    .material-symbols-outlined {
        cursor: pointer;

    }

    .conteiner {
        margin-top: 140px;
    }

    .pagina1 {
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        
        padding-bottom: 30px;
    }

    .pagina1 h1 {
        color: #fff;
        margin-bottom: -10px;
        font-size: 20px;
    }

    #text-produto {
        color: #fff;
        width: 360px;
        margin-top: 10px;
        text-align: center;

    }

    #btn-saibamais {
        border: none;
        border-radius: 20px;
        padding: 5px;
        padding-left: 20px;
        padding-right: 20px;
    }
    #btn-saibamais:hover{
        color: #EF3045;
        cursor: pointer;
    }

    #banner1 {
        display: none;
    }
    #banner1-celular{
        height: 100%;
        width: 100%;
        margin-top: -90px;
    }
    #banner1-cel-produto{
        height: 240px;
        margin-top: -140px;
        margin-bottom: -50px;
    }

    .pagina2 {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
        margin-top: 70px;
    }

    .painel {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        gap: 40px;
    }

    .son-painel {
        width: 90%;
        height: 100%;
        background-color: #212121;
        border-radius: 20px;
        padding-bottom: 10px;
    }

    .son-painel h1 {
        font-size: 20px;
        color: #fff;
    }
    .son-painel span {
        color: #fff;
    }


    .pagina3 {
        height: auto;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
        margin-bottom: 30px;
        padding-bottom: 30px;
    }

    .pagina3 img{
        height: 300px;
    
    }

    .son-p3{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: justify;
    }

    #titulo-p3{
        margin-bottom: -10px;
        color: #fff;
        font-size: 17px;
    }

    #texto-p3{
        color: #fff;
        width: 390px;
    }
    #btn-p3{
        border: none;
        border-radius: 20px;
        padding: 5px;
    }

    #btn-p3:hover{
        color: #EF3045;
        cursor: pointer;
    }

    .pagina4{
        margin-top: 20px;
        height: auto;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    #titulo-p4{
        color: #fff;
        font-size: 20px;
    }

    .main-produtos {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .main-produtos img {
        height: 140px;
    }

    .son-produtos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: solid 1px #323232;
        height: 350px;
        width: 300px;
        border-radius: 20px;
    }

    .son-produtos h2{
        color: #fff;
    }

    #nome-produto {
        font-size: 20px;
        margin-bottom: -5px;
        color: #fff;
    }

    #valor-produto {
        font-size: 35px;
        color: #fff;
    }

    #btn-comprar {
        padding: 10px;
        border-radius: 10px;
        cursor: pointer; 
        border: none;
        padding-right: 30px;
        padding-left: 30px;
        margin-top: 10px;
        background-color: #212121;
        color: #fff;
    }

    #btn-comprar:hover{
        color: #EF3045;
        cursor: pointer;
    }

    .pagina5 {
        display: flex;
        height: auto;
        align-items: center;
        justify-content: center;
        margin-top: 150px;
        margin-bottom: 150px;
        
    }

    .sub-pagina5 {
        height: 30vh;
        width: 90%;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .sub-pagina5 h1 {
        font-size: 20px;
        color: #fff;
    }
    .sub-pagina5 p {
        text-align: justify;
        color: #fff;
    }

    .sub-pagina5 img {
        height: 90px;
    }

    .pagina6{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #212121;
        height: 15px;
        color: #fff;
        padding-top: 30px;
        padding-bottom: 20px;
    }

    .son-p6-1{
        display: none;
    }


    .son-p6-2{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .son-p6-2 h2{
        margin-top: -10px;
        font-size: 20px;
    }
    .son-p6-2 span{
        margin-top: -15px;
        font-size: 15px;
    }
    

    .son-p6-3{
        display: none;
    }
}

@media screen and (min-width: 767px) and (max-width:1023px) {
    body {
        border: 0;
        margin: 0;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }

    #banner1-celular,#menubar,#banner1-cel-produto,.nav{
        display: none;
    }

    header {
        background-color: #ffffff;
        width: 100%;
        height: 60px;
        background-color: 0;
        display: flex;
        position: fixed;
        margin-top: -65px;
    }

    .main-esquerdo {
        width: 50%;
        height: 100%;
        padding-left: 10px;
    }

    #logomarca {
        height: 100%;
    }

    .main-meio {

        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    #btn-navegation {
        border: none;
        background: none;
        cursor: pointer;
    }
    #btn-navegation:hover {
       color: #EF3045;
    }

    .main-direito {

        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .main-direito img {
        height: 35px;

    }

    .conteiner {
        margin-top: 65px;
    }

    .pagina1 {
        height: 300px;
    }

    .pagina1 h1 {
        margin-top: -220px;
        color: #ffffff;
        margin-bottom: -10px;
        background-color: #EF3045;
        margin-left: 20px;
        font-size: 20px;
    }

    #text-produto {
        color: #ffffff;
        width: 400px;
        margin-left: 20px;
        margin-top: 10px;

    }

    #btn-saibamais {
        margin-left: 20px;
        border: none;
        border-radius: 20px;
        padding: 5px;
        padding-left: 20px;
        padding-right: 20px;
    }
    #btn-saibamais:hover{
        color: #EF3045;
        cursor: pointer;
    }

    #banner1 {
        width: 100%;
    }

    .pagina2 {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
    }

    .painel {
        height: 210px;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 40px;
    }

    .son-painel {
        width: 50%;
        height: 100%;
    }

    .son-painel h1 {
        font-size: 20px;
    }


    .pagina3 {
        height: 400px;
        width: 100%;
        background-color: #000;
        display: flex;
        justify-content: space-between;
    }

    .pagina3 img{
        height: 80%;
        
    }

    .son-p3{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: justify;
        margin-right: 60px;
    }

    #titulo-p3{
        margin-top: -30px;
        margin-bottom: -10px;
        color: #fff;
        font-size: 17px;
    }

    #texto-p3{
        color: #fff;
        width: 300px;
    }

    #btn-p3{
        border: none;
        border-radius: 20px;
        padding: 5px;
    }

    #btn-p3:hover{
        color: #EF3045;
        cursor: pointer;
    }

    .pagina4{
        margin-top: 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    #titulo-p4{
        color: #000;
    }

    .main-produtos {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .main-produtos img {
        height: 140px;
    }

    .son-produtos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: solid 1px #323232;
        height: 350px;
        width: 400px;
        border-radius: 20px;
    }

    #nome-produto {
        font-size: 20px;
        margin-bottom: -5px;
        color: #000;
    }

    #valor-produto {
        font-size: 35px;
        color: #000;
    }

    #btn-comprar {
        padding: 10px;
        border-radius: 10px;
        cursor: pointer;
        border: none;
        padding-right: 30px;
        padding-left: 30px;
        margin-top: 10px;
        background-color: #000;
        color: #fff;
    }

    #btn-comprar:hover{
        color: #EF3045;
        cursor: pointer;
    }

    .pagina5 {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .sub-pagina5 {
        height: 30vh;
        width: 90%;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .sub-pagina5 h1 {
        font-size: 20px;
    }

    .sub-pagina5 img {
        height: 90px;
    }

    .pagina6{
        display: flex;
        justify-content: space-between;
        background-color: #000;
        color: #fff;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .son-p6-1{
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        gap: 5px;
    }

    .son-p6-2 span{
        margin-top: -15px;
        font-size: 15px;
    }

    #btn-p6{
        border: none;
        background: none;
        color: #fff;
    }

    #btn-p6:hover{
        color: #EF3045;
        cursor: pointer;
    }

    .son-p6-2{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    

    .son-p6-3{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (min-width: 1024px) {
    body {
        background-color: #000;
        border: 0;
        margin: 0;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }

    #banner1-celular,#menubar,#banner1-cel-produto,.nav{
        display: none;
    }

    header {
        background-color: #fff;
        width: 100%;
        height: 60px;
        background-color: 0;
        display: flex;
        position: fixed;
        margin-top: -60px;

    }

    .main-esquerdo {
        width: 50%;
        height: 100%;
        padding-left: 10px;
    }

    #logomarca {
        height: 100%;
    }

    .main-meio {

        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    #btn-navegation {
        border: none;
        background: none;
        cursor: pointer;
    }

    #btn-navegation:hover {
        color: #EF3045;
    }

    .main-direito {

        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .main-direito img {
        height: 35px;

    }

    .conteiner {
        margin-top: 60px;
    }

    .pagina1 {
        height: 500px;
    }

    .pagina1 h1 {
        margin-top: -320px;
        color: #ffffff;
        margin-bottom: -10px;
        background-color: #EF3045;
        margin-left: 20px;
        font-size: 35px;
    }

    #text-produto {
        color: #ffffff;
        width: 600px;
        margin-left: 20px;
        margin-top: 10px;

    }

    #btn-saibamais {
        margin-left: 20px;
        border: none;
        border-radius: 20px;
        padding: 5px;
        padding-left: 20px;
        padding-right: 20px;
    }

    #btn-saibamais:hover {
        color: #EF3045;
        cursor: pointer;
    }

    #banner1 {
        width: 100%;
    }

    .pagina2 {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 200px;
        background-color: #000;
        margin-top: 30px;
    }

    .painel {
        height: 100%;
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 40px;
    }

    .son-painel {
        width: 50%;
        height: 100%;
        background-color: #2121215d;
        border-radius: 20px;
    }

    .son-painel h1 {
        font-size: 20px;
        margin-top: 40px;
        color: #fff;
    }
    .son-painel span {
        color: #fff;
    }


    .pagina3 {
        height: 400px;
        width: 100%;
        background-color: #000;
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
    }

    .pagina3 img {
        height: 100%;

    }

    .son-p3 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: justify;
        margin-right: 90px;
    }

    #titulo-p3 {
        margin-top: -30px;
        margin-bottom: -10px;
        color: #fff;
    }

    #texto-p3 {
        color: #fff;
        width: 700px;
    }

    #btn-p3 {
        border: none;
        border-radius: 20px;
        padding: 5px;
    }

    #btn-p3:hover {
        color: #EF3045;
        cursor: pointer;
    }

    .pagina4 {
        margin-top: 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    #titulo-p4 {
        color: #fff;
    }

    .main-produtos {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .main-produtos img {
        height: 200px;
    }

    .son-produtos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: solid 1px #323232;
        height: 500px;
        width: 400px;
        border-radius: 20px;
    }

    .son-produtos h2{
        color: #fff;
    }

    #nome-produto {
        font-size: 20px;
        margin-bottom: -5px;
        color: #fff;
    }

    #valor-produto {
        font-size: 35px;
        color: #fff;
    }

    #btn-comprar {
        padding: 10px;
        border-radius: 10px;
        cursor: pointer;
        border: none;
        padding-right: 30px;
        padding-left: 30px;
        margin-top: 10px;
        background-color: #212121;
        color: #fff;
    }

    #btn-comprar:hover {
        color: #EF3045;
        cursor: pointer;
    }

    .pagina5 {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .sub-pagina5 {
        height: 70vh;
        width: 70%;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .sub-pagina5 h1 {
        font-size: 20px;
        color: #fff;
    }
    

    .sub-pagina5 img {
        height: 90px;
    }

    .sub-pagina5 p{
        color: #fff;
    }

    .pagina6 {
        display: flex;
        justify-content: space-between;
        background-color: #212121;
        color: #fff;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .son-p6-1 {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        gap: 5px;
        width: 50%;
    }

    .son-p6-2 span {
        margin-top: -15px;
        font-size: 15px;
    }

    #btn-p6 {
        border: none;
        background: none;
        color: #fff;
    }

    #btn-p6:hover {
        color: #EF3045;
        cursor: pointer;
    }

    .son-p6-2 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 50%;
    }


    .son-p6-3 {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 50%;
        margin-right: 30px;
    }
}